.post {
    margin-bottom: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    
}

.section {
    padding-top: 2%;
}

.page_flipper {
    display: inline-block;
    margin-left: margin-right;
    margin-right: auto;
    
}