{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
    
    {% for listing in listings %}
        <div style="border: 1px solid black; height: auto; width: 20%; padding: 10px; display: inline-block">
            <h6>{{ listing.item.title }}</h6>
            {% if listing.item.picture_link %}
                <div styel="width: 15%" display="inline-block">
                    <img src="{{ listing.item.picture_link }}" style="width: 100%; height: 100%;">
                </div>
                
            {% endif %}
            <p>{{ listing.item.description }}</p>
            {% if listing.value != None %}
                <p>Price: {{ listing.value }}</p>
            {% else %}
                <p>Price: {{ listing.item.starting_bid }}$</p>
            {% endif %}
        </div>
    {% empty %}
        <p>No active Listings!</p>
    {% endfor %}


{% endblock %}