{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    <h1>{{ listing.item.title }}</h1>
    {% if listing.item.picture_link %}
        <img src="{{ listing.item.picture_link }}" style="width: 60%; margin: auto; display: block; padding: 20px">
    {% endif %}
    <h6> {{ listing.item.category }}</h6>
    <h5>{{ listing.item.description }}</h5>

    {% if listing.active == False and request.user.id == winner.id %}
            <h6>You have won this auction!</h6>
    {% endif %}

    <div style="display: inline-block">
        <p>Price: {{ price }}$</p>
        {% if request.user.id == listing.owner.id %}
            <div>
                <form action="{% url 'delete_listing' %}"  method="post"> {% csrf_token %}
                    <input type="hidden" value="{{ listing.id }}" name="delete_listing_id">
                    <input type="submit" value="delete listing">
                </form>
                {% if listing.active %}
                    <form action="{% url 'close_action' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="close auction">
                        <input type="hidden" value="{{ listing.id }}" name="close_listing_id">
                    </form>
                {% endif %}
            </div>

        {% elif request.user.is_authenticated %}
            {% if watchlisted %}
                <form action="{% url 'remove_from_watchlist' %}" method="post">{% csrf_token %}
                    <input type="hidden" value="{{ listing.id }}" name="remove_from_watchlist_listing_id">
                    <input type="submit" value="remove from watchlist">
                </form>
            {% else %}
                <form action="{% url 'add_to_watchlist' %}" method="post">{% csrf_token %}
                    <input type="hidden" value="{{ listing.id }}" name="add_to_watchlist_listing_id">
                    <input type="submit" value="add to watchlist">
                </form>
            {% endif %}

        {% endif %}
    </div>
    <br>
    {% if listing.active %}
        <form action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            {{ BidForm }}
            <input type="hidden" value="{{ listing.id }}" name="bid_listing_id">
            <input type="submit" value="Bid!">
        </form>
    {% endif %}

        {% for comment in comments %}
            <div style="border: 1px solid black; width: 90%; padding: 2%; margin: 1%">
                <div style="border: 1px solid black; width: auto; padding: 1%">
                    <h5>{{ comment.author }}</h5>
                </div>
      
                <br>
                <div style="border: 1px solid black; width: 100%; padding: 2%;">
                    <p>{{ comment.message }}</p>
                </div>
            </div>
        {% empty %}
            <h3>No comments yet - be the first to comment!</h3>
        {% endfor %}

        {% if request.user.is_authenticated %}
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ listing.id }}" name="listing_id">
                {{ CommentForm }}
                <input type="submit" value="Comment">
            </form>
        {% endif %}

{% endblock %}