{% extends "network/layout.html" %}

{% block body %}
    <div id="index" class="section">
        <hr>
        <div id="new_post" class="section">

        </div>
        <hr>
        <div id="all_posts" class="section">

        </div>
    </div>

    <div id="profile" class="section">
        <hr>
    </div>

    <div  class="page_flipper" id="page_flippers">
        <button class="pageflip_button" data-direction="previous" id="flip_back">Back</button>
        <select id="page_selector">
            
        </select>
        <button class="pageflip_button" data-direction="next" id="flip_next">Next</button>
    </div>
    
        
 
{% endblock %}